services:
  backend:
    build:
      context: ../taski-virtual
      dockerfile: ./backend/Dockerfile
    container_name: taski_backend
    restart: unless-stopped
    expose:
      - "8000"
    networks:
      - backend

  frontend:
    build:
      context: ../taski-virtual
      dockerfile: ./frontend/Dockerfile
    container_name: taski_frontend
    restart: unless-stopped
    networks:
      - backend

  nginx:
    build:
      context: ../taski-virtual
      dockerfile: ./nginx/Dockerfile
    container_name: taski_nginx
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    networks:
      - backend

networks:
  backend:
    driver: bridge
